<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fbAPP-ID</string> <!-- CHANGE -->
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>APP-ID</string> <!-- CHANGE -->
    <key>FacebookClientToken</key>
    <string>616673fee689ad23f6c657bf7896ff7b</string> <!-- CHANGE -->
    <key>FacebookDisplayName</key>
    <string>APP-NAME</string><!-- CHANGE -->
    
	<key>UIAppFonts</key>
	<array>
		<string>BentonSans Bold.otf</string>
		<string>BentonSans Book.otf</string>
		<string>BentonSans Medium.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
